flows.json
[{"id":"2e4c6b2.d65fa94","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e5fa9920.dcabf8","type":"ui_form","z":"2e4c6b2.d65fa94","name":"","label":"","group":"7e2c8ab2.187694","order":1,"width":"14","height":"4","options":[{"label":"Search for News","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":180,"wires":[["bedf7a63.aeef28"]]},{"id":"bedf7a63.aeef28","type":"function","z":"2e4c6b2.d65fa94","name":"Query processing","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.Input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["4171f759.cd3188"]]},{"id":"5329aa10.c5a024","type":"function","z":"2e4c6b2.d65fa94","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["64ffc2ed.ea2d6c"]]},{"id":"4171f759.cd3188","type":"watson-discovery-v1","z":"2e4c6b2.d65fa94","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"term(enriched_text.sentiment.document.label,count:10)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/858fde5a-b8c6-4829-8dbe-a4c787e312ad","x":330,"y":320,"wires":[["5329aa10.c5a024","4b3264e6.b13dac","e83074cd.09a4b8","5d3382f2.1e17ac","2af55610.541e9a","c57abda7.31268","67be392e.371478"]]},{"id":"64ffc2ed.ea2d6c","type":"ui_text","z":"2e4c6b2.d65fa94","group":"7e2c8ab2.187694","order":5,"width":"14","height":"2","name":"","label":"search result","format":"{{msg.payload}}","layout":"col-center","x":770,"y":200,"wires":[]},{"id":"5d3382f2.1e17ac","type":"function","z":"2e4c6b2.d65fa94","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["a23fb2b.2fe0f5"]]},{"id":"4b3264e6.b13dac","type":"function","z":"2e4c6b2.d65fa94","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["dbd516c8.9ed0d8"]]},{"id":"c57abda7.31268","type":"function","z":"2e4c6b2.d65fa94","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":280,"wires":[["95b47c88.f03ec"]]},{"id":"e83074cd.09a4b8","type":"function","z":"2e4c6b2.d65fa94","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["242dfcd5.753504"]]},{"id":"2af55610.541e9a","type":"function","z":"2e4c6b2.d65fa94","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["b5cbe0ee.677aa"]]},{"id":"b5cbe0ee.677aa","type":"ui_text","z":"2e4c6b2.d65fa94","group":"7e2c8ab2.187694","order":8,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"col-center","x":750,"y":400,"wires":[]},{"id":"a23fb2b.2fe0f5","type":"ui_text","z":"2e4c6b2.d65fa94","group":"7e2c8ab2.187694","order":4,"width":"14","height":"2","name":"","label":"url","format":"{{msg.payload}}","layout":"col-center","x":750,"y":320,"wires":[]},{"id":"dbd516c8.9ed0d8","type":"ui_text","z":"2e4c6b2.d65fa94","group":"7e2c8ab2.187694","order":2,"width":"14","height":"2","name":"","label":"author","format":"{{msg.payload}}","layout":"col-center","x":750,"y":240,"wires":[]},{"id":"95b47c88.f03ec","type":"ui_text","z":"2e4c6b2.d65fa94","group":"7e2c8ab2.187694","order":3,"width":"14","height":"2","name":"","label":"main page url","format":"{{msg.payload}}","layout":"col-center","x":780,"y":280,"wires":[]},{"id":"242dfcd5.753504","type":"ui_gauge","z":"2e4c6b2.d65fa94","name":"","group":"7e2c8ab2.187694","order":6,"width":0,"height":0,"gtype":"gage","title":"Sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":360,"wires":[]},{"id":"1c36495c.42ed37","type":"function","z":"2e4c6b2.d65fa94","name":"retrival","func":"msg.payload=\n[\n    {\n        \"series\":[\"News\"],\n        \"data\":[msg.payload[0],msg.payload[1],msg.payload[2]],\n        \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["ed4761aa.cc48f"]]},{"id":"ed4761aa.cc48f","type":"ui_chart","z":"2e4c6b2.d65fa94","name":"","group":"7e2c8ab2.187694","order":8,"width":"12","height":"9","label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":440,"wires":[[]]},{"id":"67be392e.371478","type":"function","z":"2e4c6b2.d65fa94","name":"sentiment","func":"var val=[msg.search_results.aggregations[0].results[0].matching_results];\nval.push(msg.search_results.aggregations[0].results[1].matching_results);\nval.push(msg.search_results.aggregations[0].results[2].matching_results);\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["1c36495c.42ed37"]]},{"id":"7e2c8ab2.187694","type":"ui_group","z":"","name":"News seach","tab":"67af960c.240568","order":1,"disp":true,"width":"14","collapse":false},{"id":"67af960c.240568","type":"ui_tab","z":"","name":"World Docker","icon":"dashboard","disabled":false,"hidden":false}]
