flows.json
[{"id":"2e4c6b2.d65fa94","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"2e4c6b2.d65fa94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":240,"wires":[]},{"id":"a477336d.f7a54","type":"ui_form","z":"2e4c6b2.d65fa94","name":"","label":"","group":"c3405adb.67a528","order":0,"width":0,"height":0,"options":[{"label":"Enter your Query","value":"INPUT","type":"text","required":true,"rows":null}],"formValue":{"INPUT":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":200,"wires":[["b359fbc.385a808"]]},{"id":"b359fbc.385a808","type":"function","z":"2e4c6b2.d65fa94","name":"","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["25950cf1.f14734"]]},{"id":"25950cf1.f14734","type":"watson-discovery-v1","z":"2e4c6b2.d65fa94","name":"NEWS","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/858fde5a-b8c6-4829-8dbe-a4c787e312ad","x":390,"y":80,"wires":[["3ed2b49b.99d1dc"]]},{"id":"3ed2b49b.99d1dc","type":"function","z":"2e4c6b2.d65fa94","name":"","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["f2f2649a.0d0d98","d78a7b36.270538"]]},{"id":"d78a7b36.270538","type":"ui_text","z":"2e4c6b2.d65fa94","group":"c3405adb.67a528","order":1,"width":"10","height":"4","name":"","label":"SEARCH RESULT","format":"{{msg.payload}}","layout":"col-center","x":730,"y":300,"wires":[]},{"id":"c3405adb.67a528","type":"ui_group","z":"","name":"Watson Discovery News Search","tab":"f2df76ea.dc9138","order":1,"disp":true,"width":"14","collapse":false},{"id":"f2df76ea.dc9138","type":"ui_tab","z":"","name":"IBM Watson Discovery","icon":"NEWS","disabled":false,"hidden":false}]